<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Home Page</title>


    <script type="text/javascript" src="/vendor/jquery-3.0.0.js"></script>

    <link rel="stylesheet" href="/vendor/normalize-4.1.1.css" type="text/css" />

    <link rel="stylesheet" href="/vendor/border-box.css" type="text/css" />

    <link rel="stylesheet" href="/styles/layout.css" type="text/css" />
    <!-- leaflet api -->
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.7.1/dist/leaflet.css"
    integrity="sha512-xodZBNTC5n17Xt2atTPuE1HxjVMSvLVW9ocqUKLsCC5CXdbqCmblAshOMAS6/keqq/sMZMZ19scR4PsZChSR7A=="
    crossorigin=""/>

    <!-- Make sure you put this AFTER Leaflet's CSS -->
    <script src="https://unpkg.com/leaflet@1.7.1/dist/leaflet.js"
    integrity="sha512-XQoYMqMTK8LvdxXYG3nZ448hOEQiglfqkJs1NOQV44cWnUrBc8PkAOcXy20w0vlaXaVUearIOBhiXZ5V3ynxwA=="
    crossorigin=""></script>
    <!---<script src="scripts/map.js"></script> --->
    <style>#mymap { height: 550px; width: 550px }</style>

    <script>const mapID = <%= map.id %></script>
    <script>const userID= "<%= userID %>"</script>
    <script type="text/javascript" src="/vendor/jquery-3.0.0.js"></script>
    <script type="text/javascript" src="/scripts/edit_map.js"></script>

  </head>

  <body>
    <header>
      <%- include('partials/_header') %>
    </header>

    <form id="title-update">
      <input type="hidden" name="map_id" value="<%= map.id %>">
      <input type="text" name="name" value="<%=map.name%>">
      <button type="submit">Update Title</button>
    </form>





    <div id="mymap"></div>

    <form id="description-update">
      <input type="hidden" name="map_id" value="<%= map.id %>">
      <input type="text" name="description" value="<%=map.description%>">
      <button type="submit">Update Description</button>
    </form>
    <button id="edit-final">Finish Edit</button>






  </body>
</html>
